* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body,
.container {
  height: 100%;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  text-align: center;
  font-size: 40px;
  margin-right: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form input {
  padding: 8px;
  font-size: 18px;
  width: 500px;
  display: block;
}

.form button {
  font-size: 24px;
  padding: 8px;
  font-weight: 500;
}

.form-item label {
  font-weight: 500;
}
